<!DOCTYPE html>
<html lang="en">
<style>
    .container {
        min-width: 880px;
        max-width: 1600px;
        margin-left: 100px;
        height: 100vh;
    }

    .title-wrapper {
        margin-bottom: 30px;
    }
    .write-info-wrapper label{
        font-weight: bolder;
        margin-right: 5px;
    }
    .write-info-wrapper span{
        margin-left: 20px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>게시글 <span style="color: red">수정</span> 페이지</h1>
        <form action="/boards/update" method="post" th:object="${boardDetail}">
            <div class="write-info-wrapper">
                <label>작성자</label>
                <span th:text="*{createAccountId}">작성자 아이디</span>
                <input type="hidden" name="createAccountId" id="createAccountId" th:field="*{createAccountId}">
                <br>
                <br>
                <label>작성 날짜</label>
                <span th:text="*{createdAt}">작성 날짜</span>
            </div>

            <div class="title-wrapper">
                <h4>
                    <label for="title">게시글 제목</label>
                </h4>
                <input type="hidden" name="idx" id="idx" readonly th:field="*{idx}">
                <input type="text" name="title" id="title" required th:field="*{title}">
            </div>
            <div class="contents-wrapper">
                <h4>
                    <label for="contents">게시글 내용</label>
                </h4>
                <textarea name="contents" id="contents" cols="30" rows="10" required th:field="*{contents}"></textarea>
            </div>
            <th:block th:if="${session.loginId != null && session.loginId == boardDetail.createAccountId}">
                <div class="btn-wrapper">
                <button type="submit" >업데이트</button>
                </div>
            </th:block>
        </form>
        <br>
        <button onclick="location.href='/boards'">목록</button>
    </div>

</body>

<script th:inline="javascript">
    var boardDetail = [[${boardDetail}]];
    var boardIdx = boardDetail == null ? null : boardDetail.idx;

    //alert(boardIdx);
    function editPage() {
    var url = "/boards/"+boardIdx+"/edit";
    location.href = url;
    }
</script>
</html>