<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 페이지</title>
</head>
<body>
<h1>회원 가입 페이지</h1>

<form action="/join" method="post">
    <div>
        <label for="name">이름
            <input name="name" type="text">
        </label>
    </div>
    <br>
    <div>
        <label for="ID">아이디
            <input name="ID" type="text">
        </label>
    </div>
    <br>
    <div>
        <label for="password">비밀번호
            <input name="password" type="password">
        </label>
    </div>
    <br>
    <button type="submit">등록하기</button>
</form>
</body>
</html>