<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BoardMapper">

    <insert id="saveBoard" parameterType="BoardVO">
        INSERT INTO enroll_test.board(title, contents, create_account_id, modify_account_id, "createAt")
        VALUES (#{title}, #{contents}, #{createAccountId}, #{modifyAccountId}, CURRENT_TIMESTAMP)
    </insert>

    <select id="getBoardList" resultType="com.example.demo.dto.BoardListDto">
        select idx, title, views, "createAt" As "createdAt", create_account_id As "createAccountId" From enroll_test.board
    </select>

</mapper>